.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 555px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  
  &--info {
    width: 700px;
    border: 1px solid @grey-border;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: baseline;
    justify-content: space-around;
  }
  
  &--project,
  &--main {
    width: 700px;
    border-radius: 3px;
    box-shadow: 0px 6px 17.46px 0.54px rgba(0, 0, 0, 0.18);
    padding: 35px;
    padding-bottom: 45px;
  }
  
  &--project {
    padding-top: 30px;
    margin-bottom: 25px;
  }
  
  &--promo {
    border: 1px solid @milk;
    padding: 20px 32px;
    width: 627px;
    margin-top: 55px;
  }
  
  &--last {
    width: 740px;
    padding: 0 20px;
    padding-top: 65px;
    padding-bottom: 50px;
    background-image: url(../img/photo-form.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
  }
  
  &--director {
    width: 620px;
  }
}

.form__area,
.form__input {
  background-color: @milk;
  border: 2px solid @grey-form;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
}

.form__input {
  width: 248px;
  min-height: 42px;
  padding-left: 55px;
  padding-right: 10px;
  
  &--main {
    width: 298px;
  }
  
  &--promo {
    background-color: rgba(250,250,250,0.9);
  }
  
  &--last {
    width: 366px;
  }
}

.form__area {
  width: 555px;
  min-height: 135px;
  margin-bottom: 34px;
  padding: 10px;
  
  &--main {
    width: 100%;
    min-height: 200px;
    margin-bottom: 45px;
  }
  
  &:hover,
  &:focus {
    border-color: @blue;
  }
}

.form__field {
  position: relative;
  margin-bottom: 23px;
  
  &::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 13px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  &--name::before {
    background-image: url(../img/icon-user.png);
  }
  
  &--email::before {
    background-image: url(../img/icon-mail.png);
  }
  
  &--number::before {
    background-image: url(../img/icon-number.png);
  }
    
  &--tel::before {
    background-image: url(../img/icon-phone.png);
  }
  
  &--question {
    margin-bottom: 0;
  
    &::before {
      background-image: url(../img/icon-question.png);
    }
  }
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    width: 2px;
    height: 42px;
    background-color: @grey-form;
  }
  
  &:hover {
    .form__input {
      border-color: @blue;
    }
    
    &::after {
      background-color: @blue;
    }
  }
}

.form__consult {
  width: 249px;
}

.form__btn {
  background-color: @orange;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  min-height: 52px;
  
  &--info {
    margin: 0;
  }
  
  &--project {
    margin-right: 0;
  }
}

.form__title {
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  
  span {
    display: block;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-bottom: 35px;
  }
  
  &--promo {
    margin-bottom: 30px;
  }
}

.form__h3 {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.form__info {
  width: 89px;
}

.form__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.form__img,
.form__block {
  width: 50%;
}

.form__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding-left: 50px;
  
  img {
    border-radius: 50%;
  }
  
  &--director {
    flex-direction: column;
    padding-left: 0;
    margin-top: 0;
  }
}

.form__text {
  text-align: center;
  margin-left: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  
  &--bold {
    font-weight: 700;
    width: 300px;
  }
}

.form__main {
  width: 211px; 
}

.form__download {
  padding-left: 30px;
  position: relative;
  display: block;
  color: @navy;
  line-height: 20px;
  font-family: "Times New Roman", "Times", serif;
  font-weight: 700;
  width: 160px;
    
  &:hover {
    color: @blue;
  }
  
  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url(../img/icon-attach.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form__project {
  width: 265px;
}