.sample {
  background-color: #f3f3f3;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-top: 35px;
}

.sample__img {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 25px;
}

.sample__text {
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
}